// COLORS
$btn-color-orange: #D2401E;
$color-inners-bg: rgb(226, 226, 226);
$color-inner: rgb(90, 90, 90);
$color-prices: #8A3824;
$color-bg-partners: #d8d8d7;
$color-prices: #8A3824;
$color-brown: #A83419;
$color-pizzaDeals: #89331F;
$color-btn-form: #A83318;

$footer-gold: #8C6E2E;
$footer-orange: #9F3218;
$footer-aqua: #266A47;