@import "./partials/variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// RESET

html {
    font-size: 100%;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

// COMMON

.my_container {
    margin: 0 auto;
}